doctype html
html(lang='en', ng-app='adventure-scanner')
  head
    meta(description= description)
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/img/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="/img/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png")
    link(rel="manifest" href="/img/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="/img/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")
    meta(name='viewport', content='width=device-width')

    title= title

    block css
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,500,700,400italic')
      link(rel='stylesheet', href='/components/angular-material/angular-material.min.css')
      link(rel='stylesheet', href='/css/style.css')
    block js
      script(src='https://cdn.socket.io/socket.io-1.3.5.js')
      script(src='/js/controller.js')
      if ENV_DEVELOPMENT
        script(src='https://localhost:35729/livereload.js')
  body
    block content
